@font-face {
  font-family: hyperFont;
  src: url(./fonts/SB-Hyper\ X.ttf);
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: proxima-nova, -apple-system, blinkmacsystemfont, San Francisco,
    Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

img {
  mix-blend-mode: multiply;
  -webkit-user-drag: none;
}

p,
h1 {
  margin: 0;
}

section {
  padding: 3rem 1rem;
  width: 100%;
  max-width: 1218px;
  margin: 0 auto;
}

.logo {
  font-family: hyperFont;
  font-size: 3rem;
  font-weight: 420;
  color: black;
  user-select: none;
  cursor: pointer;
}

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.knockout-image {
  mix-blend-mode: multiply;
}

.contact {
  color: black;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

header {
  height: 70px;
  border-bottom: 1px solid #e6ebf0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1328px;
  margin: 0 auto;
  box-sizing: border-box;
}

.contact {
  display: block;
}

.order {
  padding: 10px;
  background-color: #c8102e;
  color: #fff;
  cursor: pointer;
}

.order:hover {
  background-color: #e01637;
}

.product__wrapper {
  background-color: #f5f6f7;
}

.product {
  display: flex;
}

.product-gallery {
  display: flex;
  user-select: none;
}

#swiper {
  width: 750px;
}

#thumb {
  width: 100px;
  height: 60%;
  margin: 3rem 0;
}

.thumbnail-container {
  position: relative;
  user-select: none;
}

.product-gallery__thumbnail-carousel {
}

.product-gallery__thumbnail {
  display: block;
  width: 100%;
  border: 1px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
}

.product-gallery__thumbnail:hover {
  border: 1px solid #e01637;
}

.product-gallery__thumbnail.swiper-slide-thumb-active {
  border: 1px solid #e6ebf0;
}

.product-gallery__thumbnail-image {
  display: block;
  width: 100%;
}

.swiper-button {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 1px solid #e6ebf0;
  transform: translate(-50%);
  left: 50%;
  cursor: pointer;
}

.swiper-button-prev {
}

.swiper-button-next {
}

.swiper-button-disabled {
  display: none;
}

.swiper-button__icon {
  height: 28px;
  margin: 0.375rem;
  width: 28px;
}

.product__aside {
  max-width: 412px;
}

.product-features {
  display: flex;
  gap: 3rem;
}

.product-features__description {
  width: 40%;
}

.product-features__features-wrapper {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 60%;
}

.feature {
  border: 1px solid #e6ebf0;
  display: flex;
  align-items: center;
  padding: 0.875rem;
  max-width: 321px;
}

.price_and_form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form__input {
  margin: 10px 0;
  display: block;
}

footer {
  display: flex;
  justify-content: center;
  height: 50px;
  font-size: 13px;
}

.burger {
  display: none;
}

@media (max-width: 768px) {
  .product {
    display: block;
  }
  .thumbnail-container {
    display: none;
  }
  .product-features {
    display: block;
  }
}
