html,
body {
  margin: 0;
  height: 100%;
  font-family: proxima-nova, -apple-system, blinkmacsystemfont, San Francisco,
    Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

img {
  mix-blend-mode: multiply;
}

p,
h1 {
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

header {
  height: 70px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6ebf0;
}

@media (max-width: 750px) {
  header {
    padding: 50px;
  }
}

.order {
  padding: 10px;
  background-color: #c8102e;
  color: #fff;
  cursor: pointer;
}

.order:hover {
  background-color: #e01637;
}

.product {
  background-color: #f5f6f7;
  width: 100%;
  display: flex;
  justify-content: center;
}

.product__container {
  margin-top: 50px;
  display: flex;
  max-width: 1200px;
}

.carousel {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  gap: 10px;
}

@media (max-width: 1024px) {
  .carousel {
    display: none;
  }
}

.carouselImg {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.carouselImg:hover {
  border: 1px solid red;
}

.carousel__button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #e6ebf0;
}

.mainPhoto {
  width: 700px;
  height: 700px;
}

.product__info {
}

@media (max-width: 750px) {
  .headphoneInfo {
    display: none;
  }
}

.whereToBuyBut {
  width: 200px;
  height: 50px;
  border: 1px solid red;
  background-color: red;
}

section {
  margin: 0 0 50px 0;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.feature {
  border: 1px solid #e6ebf0;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 200px;
  height: 60px;
}

.feature_text {
  width: 100%;
  text-align: center;
}

.price_and_form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price {
  border: 1px solid red;
}

.form {
  border: 1px solid red;
}

.input {
  margin: 10px 0;
}

footer {
  display: flex;
  justify-content: center;
  height: 50px;
  font-size: 13px;
}

.burger {
  display: none;
}
