<article class="description container">
  <div class="description__main">
    <h1 class="description__title">
      Ідеальне рішення для ігор: свобода від дротів і технологія просторового
      звуку DTS Headphone:X
    </h1>
    <p class="description__text">
      Насолоджуйся зручністю бездротового зв'язку та просторовим звуком за дуже
      вигідною ціною. HyperX Cloud Stinger Core - це легка, міцна і надійна
      ігрова гарнітура з приголомшливою якістю звуку. Спілкуйся з друзями в
      мережі та підтримуй зв'язок без перешкод зі своєю командою в грі завдяки
      мікрофону з функцією шумозаглушення. Крім того, Cloud Stinger Core має
      вбудовані елементи керування звуком і зручний мікрофон із відключенням під
      час повороту.
    </p>
  </div>
  <div class="description__features">
    <div class="description__feature">
      <p class="description__feature-text">
        Чистий і іммерсивний звук дозволяє чітко чути звуки гри
      </p>
    </div>
    <div class="description__feature">
      <p class="description__feature-text">
        Зручний дизайн і м'які амбушюри забезпечують комфорт під час тривалих
        сеансів геймінгу
      </p>
    </div>
    <div class="description__feature">
      <p class="description__feature-text">
        Сумісні з PC, PlayStation, XBOX та іншими платформами
      </p>
    </div>
    <div class="description__feature">
      <p class="description__feature-text">
        До 17 годин роботи на одному заряді акумулятора
      </p>
    </div>
    <div class="description__feature">
      <p class="description__feature-text">
        Мікрофон з шумозаглушенням дозволяє клієнту не чути музику та колег
      </p>
    </div>
    <div class="description__feature">
      <p class="description__feature-text">
        Ви можете вільно розмовляти та пересуватися по офісу
      </p>
    </div>
    <div class="description__feature">
      <p class="description__feature-text">
        Одного заряду вістачає на 2-3 дні дзвінків
      </p>
    </div>
    <div class="description__feature">
      <p class="description__feature-text">
        Завжди добре чути клієнта за рахунок шумуізоляції навушників
      </p>
    </div>
  </div>
</article>
