<article class="description">
  <div class="description__main">
    <h1>
      Идеальное решение для игр: свобода от проводов и технология
      пространственного звука <bold>DTS Headphone:X</bold>
    </h1>
    <p>
      Наслаждайся удобством беспроводной связи и пространственным звуком по
      очень выгодной цене. HyperX Cloud Stinger Core — это легкая, прочная и
      надежная игровая гарнитура с потрясающим качеством звука. Общайся с
      друзьями в сети и поддерживай связь без помех со своей командой в игре
      благодаря микрофону с функцией шумоподавления. Кроме того, Cloud Stinger
      Core имеет встроенные элементы управления звуком и удобный микрофон с
      отключением при повороте.
    </p>
  </div>
  <div class="description__features">
    <div class="description__feature">
      <p class="description__feature-text">
        Чистий і іммерсивний звук дозволяє чітко чути звуки гри
      </p>
    </div>
    <div class="description__feature">
      <p class="description__feature-text">
        Зручний дизайн і м'які амбушюри забезпечують комфорт під час тривалих
        сеансів геймінгу
      </p>
    </div>
    <div class="description__feature">
      <p class="description__feature-text">Сумісні з PC/PlayStation/XBOX</p>
    </div>
    <div class="description__feature">
      <p class="description__feature-text">
        До 17 годин роботи на одному заряді акумулятора
      </p>
    </div>
    <div class="description__feature">
      <p class="description__feature-text">
        Мікрофон з шумозаглушенням дозволяє клієнту не чути музику та колег
      </p>
    </div>
    <div class="description__feature">
      <p class="description__feature-text">
        Ви можете вільно розмовляти та пересуватися по офісу
      </p>
    </div>
    <div class="description__feature">
      <p class="description__feature-text">
        Одного заряду вістачає на 2-3 дні дзвінків
      </p>
    </div>
    <div class="description__feature">
      <p class="description__feature-text">
        Завжди добре чути клієнта за рахунок шумуізоляції навушників
      </p>
    </div>
  </div>
</article>
