<article class="description">
  <div class="description__main">
    <h1>
      Идеальное решение для игр: свобода от проводов и технология
      пространственного звука <bold>DTS Headphone:X</bold>
    </h1>
    <p>
      Наслаждайся удобством беспроводной связи и пространственным звуком по
      очень выгодной цене. HyperX Cloud Stinger Core — это легкая, прочная и
      надежная игровая гарнитура с потрясающим качеством звука. Общайся с
      друзьями в сети и поддерживай связь без помех со своей командой в игре
      благодаря микрофону с функцией шумоподавления. Кроме того, Cloud Stinger
      Core имеет встроенные элементы управления звуком и удобный микрофон с
      отключением при повороте.
    </p>
  </div>
  <div class="description__features">
    <div class="description__feature">
      <p class="feature_text">Беспроводное подключение игрового класса</p>
    </div>
    <div class="description__feature">
      <p class="feature_text">Технология пространственного звука</p>
    </div>
    <div class="description__feature">
      <p class="feature_text">Комфортная легкость</p>
    </div>
    <div class="description__feature">
      <p class="feature_text">Звук с эффектом погружения в игру</p>
    </div>
    <div class="description__feature">
      <p class="feature_text">Прочное регулируемое стальное оголовье</p>
    </div>
    <div class="description__feature">
      <p class="feature_text">Удобные встроенные регуляторы звука</p>
    </div>
  </div>
</article>
