<article class="order">
  <div class="order__price-container">
    <p class="order__price">Ціна: 1488 грн.</p>
  </div>
  <div class="order__form-container">
    <form class="order__form" id="form">
      <input
        class="order__form-input"
        id="phone"
        name="phone"
        type="tel"
        pattern="^[+]?[0-9]+"
        autocomplete="tel"
        placeholder="Номер телефону"
        required
      />
      <input
        class="order__form-input"
        id="name"
        name="name"
        type="text"
        autocomplete="given-name"
        placeholder="Ваше ім'я"
      />
      <button class="button" type="submit">ЗАМОВИТИ</button>
    </form>
  </div>
</article>
