<article class="product">
  <h1 class="product__title mobile-only">
    Cloud Stinger Core Wireless Gaming Headset + DTS
  </h1>
  <section class="product__gallery">
    <div class="product__carousel">
      <div id="carousel" class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
    <div class="product__swiper">
      <div id="swiper" class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="product__aside">
    <h1 class="procuct__title">
      Беспроводная игровая гарнитура Cloud Stinger Core с технологией DTS
    </h1>
    <ul class="product__features">
      <li>Беспроводное подключение 2,4 ГГц игрового класса</li>
      <li>
        Технология пространственного звука DTS® Headphone:X® Spatial Audio
      </li>
      <li>Мягкие амбушюры из ткани</li>
      <li>Прочное стальное оголовье</li>
    </ul>
    <button class="button">ЗАМОВИТИ</button>
  </section>
</article>
