<article class="product">
  <h1 class="product__title mobile-only">
    Бездротова ігрова гарнітура Cloud Stinger Core + DTS
  </h1>
  <div class="product-container">
    <div class="product-wrapper">
      <section class="product__gallery">
        <div class="product__carousel knockout-image">
          <div class="swiper-button-prev">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"
              ></path>
            </svg>
          </div>
          <div id="carousel" class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  class="carousel__image"
                  src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_160x160.jpg?v=1662421260"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="carousel__image"
                  src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_03_front_160x160.jpg?v=1662421260"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="carousel__image"
                  src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_04_side_160x160.jpg?v=1662421260"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="carousel__image"
                  src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_05_side_up_160x160.jpg?v=1662421260"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="carousel__image"
                  src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_06_bottom_160x160.jpg?v=1662421260"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="carousel__image"
                  src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_07_extended_160x160.jpg?v=1662421260"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="carousel__image"
                  src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_08_accessories_160x160.jpg?v=1662421260"
                />
              </div>
            </div>
          </div>
          <div class="swiper-button-next">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="product__swiper knockout-image">
          <div id="swiper" class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  class="product__image"
                  src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="product__image"
                  src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_03_front_300x.jpg?v=1662421260"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="product__image"
                  src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_04_side_300x.jpg?v=1662421260"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="product__image"
                  src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_05_side_up_300x.jpg?v=1662421260"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="product__image"
                  src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_06_bottom_300x.jpg?v=1662421260"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="product__image"
                  src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_07_extended_300x.jpg?v=1662421260"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="product__image"
                  src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_08_accessories_1024x1024.jpg?v=1662421260"
                />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <section class="product__aside">
        <h1 class="procuct__title">
          Бездротова ігрова гарнітура Cloud Stinger Core + DTS
        </h1>
        <ul class="product__features">
          <li>Бездротова гарнітура ігрового класу</li>
          <li>Технологія просторового звуку DTS® Headphone:X® Spatial Audio</li>
          <li>М'які амбушури із тканини</li>
          <li>Міцні сталеві повзунки</li>
        </ul>
        <button class="button">ЗАМОВИТИ</button>
      </section>
    </div>
  </div>
</article>
