<article class="product">
  <h1 class="product__title mobile-only">
    Cloud Stinger Core Wireless Gaming Headset + DTS
  </h1>
  <section class="product__gallery">
    <div class="product__carousel">
      <div class="swiper-button-prev">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"></path>
        </svg>
      </div>
      <div id="carousel" class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              class="carousel__image"
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="carousel__image"
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="carousel__image"
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="carousel__image"
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="carousel__image"
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="carousel__image"
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="carousel__image"
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
        </div>
      </div>
      <div class="swiper-button-next">
        <svg
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
          ></path>
        </svg>
      </div>
    </div>
    <div class="product__swiper">
      <div id="swiper" class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              class="product__image"
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="product__image"
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="product__image"
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="product__image"
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="product__image"
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="product__image"
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="product__image"
              src="//row.hyperx.com/cdn/shop/products/hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg?v=1662421260"
            />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="product__aside">
    <h1 class="procuct__title">
      Беспроводная игровая гарнитура Cloud Stinger Core с технологией DTS
    </h1>
    <ul class="product__features">
      <li>Беспроводное подключение 2,4 ГГц игрового класса</li>
      <li>
        Технология пространственного звука DTS® Headphone:X® Spatial Audio
      </li>
      <li>Мягкие амбушюры из ткани</li>
      <li>Прочное стальное оголовье</li>
    </ul>
    <button class="button">ЗАМОВИТИ</button>
  </section>
</article>
