@import "https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap";
@import url("https://p.typekit.net/p.css?s=1&k=nzy2qor&ht=tk&f=139.173.175&a=81409282&app=typekit&e=css");

@font-face {
  font-family: hyperfont;
  src: url(./hyperfont.ttf);
}

@font-face {
  font-family: "Nunito-Sans-Klaviyo-Hosted";
  src: url(https://static.klaviyo.com/onsite/hosted-fonts/Nunito-Sans/latin/nunito-sans_latin_italic_400.woff2);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito-Sans-Klaviyo-Hosted";
  src: url(https://static.klaviyo.com/onsite/hosted-fonts/Nunito-Sans/latin/nunito-sans_latin_italic_700.woff2);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito-Sans-Klaviyo-Hosted";
  src: url(https://static.klaviyo.com/onsite/hosted-fonts/Nunito-Sans/latin/nunito-sans_latin_regular_400.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito-Sans-Klaviyo-Hosted";
  src: url(https://static.klaviyo.com/onsite/hosted-fonts/Nunito-Sans/latin/nunito-sans_latin_regular_700.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url(https://cdn.shopify.com/s/files/1/0561/8345/5901/t/2/assets/ProximaNova-Bold.woff2?v=62898732010012215941629347120);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url(https://cdn.shopify.com/s/files/1/0561/8345/5901/t/2/assets/ProximaNova-Regular.woff2?v=42571005760885272451629347138);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url(https://cdn.shopify.com/s/files/1/0561/8345/5901/t/2/assets/ProximaNova-Semibold.woff2?v=37643938926077511871629347114);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url(https://cdn.shopify.com/s/files/1/0561/8345/5901/t/2/assets/ProximaNova-SemiboldIt.woff2?v=72853821473016826491629347129);
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "RBNo31";
  src: url(https://cdn.shopify.com/s/files/1/0561/8345/5901/t/2/assets/RBNo31-Bold.woff2?v=142595270620556649121629347116);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RBNo31";
  src: url(https://cdn.shopify.com/s/files/1/0561/8345/5901/t/2/assets/RBNo31-Medium.woff2?v=180452882004172245631629347142);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RBNo31";
  src: url(https://cdn.shopify.com/s/files/1/0561/8345/5901/t/2/assets/RBNo31-Ultra.woff2?v=173159949443263318801629347128);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RBNo3.1";
  src: url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Medium.eot?v=25383986999413939321630129081);
  src: url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Medium.eot?%23iefix&v=25383986999413939321630129081)
      format("embedded-opentype"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Medium.woff2?v=180452882004172245631630129083)
      format("woff2"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Medium.woff?v=170672254405048785561630129082)
      format("woff"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Medium.ttf?v=85874282025003928561630129082)
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RBNo3.1";
  src: url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-MediumItalic.eot?v=100186952010786928171630129083);
  src: url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-MediumItalic.eot?%23iefix&v=100186952010786928171630129083)
      format("embedded-opentype"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-MediumItalic.woff2?v=176905574120940723081630129084)
      format("woff2"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-MediumItalic.woff?v=58874020323083678721630129084)
      format("woff"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-MediumItalic.ttf?v=52945031478825654531630129084)
      format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "RBNo3.1";
  src: url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Bold.eot?v=20323978379275344301630129078);
  src: url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Bold.eot?%23iefix&v=20323978379275344301630129078)
      format("embedded-opentype"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Bold.woff2?v=142595270620556649121630129079)
      format("woff2"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Bold.woff?v=20225467400649121401630129079)
      format("woff"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Bold.ttf?v=1178258291393807931630129078)
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RBNo3.1";
  src: url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-BoldItalic.eot?v=120733190548991407691630129079);
  src: url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-BoldItalic.eot?%23iefix&v=120733190548991407691630129079)
      format("embedded-opentype"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-BoldItalic.woff2?v=119034123807694370031630129081)
      format("woff2"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-BoldItalic.woff?v=42636786484259565661630129080)
      format("woff"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-BoldItalic.ttf?v=146186962803580794591630129080)
      format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "RBNo3.1";
  src: url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Ultra.eot?v=170975979501602263311630129085);
  src: url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Ultra.eot?%23iefix&v=170975979501602263311630129085)
      format("embedded-opentype"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Ultra.woff2?v=173159949443263318801630129086)
      format("woff2"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Ultra.woff?v=112840781650287979461630129086)
      format("woff"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-Ultra.ttf?v=58545622631351968721630129085)
      format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "RBNo3.1";
  src: url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-UltraItalic.eot?v=58312150261618834171630129087);
  src: url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-UltraItalic.eot?%23iefix&v=58312150261618834171630129087)
      format("embedded-opentype"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-UltraItalic.woff2?v=144516526542497831961630129088)
      format("woff2"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-UltraItalic.woff?v=44187627836584539551630129088)
      format("woff"),
    url(//row.hyperx.com/cdn/shop/t/8/assets/RBNo31-UltraItalic.ttf?v=23223964495056685851630129087)
      format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
