:root {
  --color-primary: rgb(219, 38, 39);
  --color-secondary: rgb(0, 0, 0);

  --color-text-primary: rgb(0, 0, 0);
  --color-text-secondary: rgb(62, 64, 67);
  --color-text-light: rgb(153, 153, 153);
  --color-text-inverse: rgb(255, 255, 255);

  --color-background-dark: rgb(0, 0, 0);
  --color-background-light: rgb(245, 246, 247);
  --color-background-white: rgb(255, 255, 255);

  --color-border-dark: rgb(189, 196, 208);
  --color-border-light: rgb(230, 235, 240);

  --color-button: rgb(200, 16, 46);
  --color-button-hover: rgb(224, 22, 55);

  /* TODO: fix fonts */
  --font: "RBNo3.1", -apple-system, blinkmacsystemfont, "San Francisco",
    "Helvetica", sans-serif;

  --font-logo: hyperfont;
}

/* STYLES RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* COMMON STYLES */

body {
  background-color: var(--color-background-white);

  font-family: var(--font);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.button {
  cursor: pointer;
  text-decoration: none;
  border: 0;
  padding: 0.75em 1.5em;
  background-color: var(--color-button);
  color: var(--color-text-inverse);
  font-weight: var(--fw-bold);
  font-size: 1rem;
}

/* TODO: add button icon */
/* .button[data-icon="shopping-cart"]::after {
  content: "";
  background-image: url("images/icon-cart.svg");
  width: 15px;
  height: 16px;
} */

.button:is(:hover, :focus) {
  background-color: var(--color-button-hover);
}

/* UTILITY STYLES */

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  padding: 3rem 1rem;
}

.knockout-image {
  mix-blend-mode: multiply;
}

@media (min-width: 765px) {
  .mobile-only {
    display: none;
  }
}

/* HEADER STYLES */

.header {
  height: 4.5rem;
  border-bottom: 1px solid var(--color-border-light);
}

.header__logo {
  font-family: var(--font-logo);
  font-size: 3rem;
  font-weight: 420;
  color: var(--color-text-primary);
  user-select: none;
  cursor: pointer;
}

.header__container {
  display: flex;
  align-items: center;
  max-width: 1328px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 1rem;
}

@media (min-width: 750px) {
  .header__container {
    justify-content: space-between;
  }
}

.header__contacts {
  display: none;
  list-style: none;
  padding: 0;
}

@media (min-width: 750px) {
  .header__contacts {
    display: block;
  }
}

.header__contact {
  color: var(--color-text-primary);
  display: block;
}

/* PRODUCT STYLES */

.product-container {
  background-color: #f5f6f7;
  padding: 3rem 0;
}

.product {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1328px;
}

@media (min-width: 765px) {
  .product::after {
    content: "";
    display: block;
    clear: both;
  }
}

.product__gallery {
  width: 100%;
  display: flex;
  gap: 1rem;
  user-select: none;
}

@media (min-width: 765px) {
  .product__gallery {
    float: left;
    width: 50%;
  }
}

@media (min-width: 1025px) {
  .product__gallery {
    float: left;
    width: calc(200% / 3);
  }
}

.product__thumb {
  position: relative;
  display: none;
}

#thumb {
  display: none;
}

@media (min-width: 1025px) {
  .product__thumb {
    display: grid;
    place-items: center;
  }
  #thumb {
    display: block;
    width: 100px;
    height: 80%;
  }
}

.swiper-slide-thumb-active .product__thumb-image {
  border: 1px solid #e6ebf0;
}

.swiper-button {
  background-color: transparent;
  border: 1px solid #e6ebf0;
  position: absolute;
  height: 40px;
  width: 40px;
  left: 50%;
  right: auto;
  transform-origin: left center;
  transform: translateX(-50%);
  cursor: pointer;
  display: grid;
  place-content: center;
}

.swiper-button svg {
  height: 28px;
  width: 28px;
}

.swiper-button-disabled {
  display: none;
}

.swiper-button-prev {
  top: 1rem;
}

.swiper-button-next {
  bottom: 1rem;
}

.product__thumb-image {
  width: 12rem;
  cursor: pointer;
  border: 1px solid transparent;
}

.product__thumb-image:hover {
  border: 1px solid red;
}

.product__swiper {
  --swiper-pagination-color: grey;
}

.product__swiper-image {
  width: 100%;
}

@media (min-width: 1025px) {
  .swiper-pagination {
    display: none;
  }
}

@media (min-width: 765px) {
  .product__aside {
    float: left;
    width: 50%;
    padding-left: 2rem;
  }
}

@media (min-width: 1025px) {
  .product__aside {
    width: calc(100% / 3);
  }
}

.product__aside-header {
  display: none;
}

@media (min-width: 765px) {
  .product__aside-header {
    display: block;
    border-bottom: 1px solid #e6ebf0;
    padding-bottom: 1rem;
  }
}

/* TODO: refactor aside fonts */

.product__title {
  font-family: "RBNo3.1", -apple-system, blinkmacsystemfont, San Francisco,
    Helvetica, sans-serif;
  font-size: 19.2px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

@media (min-width: 765px) {
  .product__title {
    padding: 0;
    font-size: 27.648px;
  }
}

.product__features {
  padding-left: 1rem;
  font-family: "proxima-nova", -apple-system, blinkmacsystemfont, San Francisco,
    Helvetica, sans-serif;
  line-height: 1.5;
  color: #000;
  font-size: 13.33333px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.product__buy {
  padding-top: 1rem;
  display: grid;
  gap: 1rem;
  background-color: white;
}

@media (min-width: 765px) {
  .product__buy {
    background-color: #f5f6f7;
  }
}

.product__color span {
  font-weight: 600;
}

.product__color {
  font-family: proxima-nova, -apple-system, blinkmacsystemfont, San Francisco,
    Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.product__color-image {
  border: 1px solid #000;
  height: 2.5rem;
  width: 2.5rem;
}

.product__color-image div {
  background-color: #000;
  height: 100%;
  width: 100%;
  border: 4px solid #ffffff;
}

/* DESCRIPTION STYLES */

/* .description {
} */

@media (min-width: 750px) {
  .description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

/* .description__main {
} */

.description__features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.description__feature {
  border: 1px solid #e6ebf0;
  display: flex;
  align-items: center;
  padding: 0.875rem;
  max-width: 321px;
}

.description__feature-text {
  font-size: 13.33333px;
  font-weight: 600;
}

/* ORDER SECTION */

/* .order {
} */

@media (min-width: 750px) {
  .order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

.order__price-container {
  display: grid;
  place-content: center;
  padding-bottom: 3rem;
}

.order__price {
  font-size: 30px;
}

.order__form-container {
  display: grid;
  place-content: center;
}

.order__form {
  padding-top: 3rem;
  display: grid;
  gap: 1rem;
}

.order__form-input {
  border: 1px solid var(--color-border-light);
}

/* FOOTER SECTION */

.footer {
  display: grid;
  place-content: center;
  height: 50px;
  font-size: 0.8rem;
  font-weight: 400;
}
